/* CSS */	

	/* Evitamos la seleccion de los objetos */
	[draggable], p, #controlAPI {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	body {
	
		margin: 0 auto;
		background: url('../images/light_noise_diagonal.png');
	}

	p {
		font-size: 21px;
		font-family: arial;
		font-weight: bold;
		color: #DDD;
		text-transform: uppercase;
		line-height: 65px;
	}

	.pincoe, .pincoe > a {
		margin: 60px 0;
		font: normal 400 15px Verdana;
		color: #666;
		text-align: center;
		border-top: 2px solid #999;
		padding-top: 10px;
	}

	.pincoe > a {
		color: rgba(0, 128, 255, 1);
	}

	.pincoe > a:hover {
		color: rgba(0, 128, 255, 0.7);
	}

	.objeto {
		float: left;
		width: 100px;
		height: 100px;
		border: 2px solid #444;
		border-radius: 50%;
		margin: 2px;
		cursor: move;
	}

	.over { border: 2px dashed #666; }
	.red { background-color: #ff5656; }
	.blue { background-color: #aad4ff; }
	.green { background-color: #aaff56; }

	#origen, #destino {
		height: 300px;
		padding: 20px;
		border: 2px solid #888;
		margin: 20px 0;
		text-align: center;
		background: rgba(255, 255, 255, .5);
		border-radius: 20px;
	}

	#controlAPI {
		font-family: arial;
		font-size: 20px;	
 		text-align: center;
 		font-weight: bold;
	}
    
/*invitados*/
li[draggable]:hover{
    cursor: move;
}