
<section ng-controller="TablaObra" class="tables-data">
  <div class="mdl-color--blue-grey ml-header relative clear" style="min-height: 120px;">
    <div class="p-20">
      <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0px;">
          <input type="text" ng-model="tableParams.filter()['search']" class="mdl-textfield__input" placeholder="Buscar nom" autofocus />
       </div>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--12-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="p-20 ml-card-holder ml-card-holder-first">

        <div class="mdl-card mdl-shadow--1dp m-b-30">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{item_llistar.length}} obres</h2>
          </div>

          <table ng-table="tableParams" template-pagination="custom/pager" class="table mdl-data-table fullwidth">
            <tr ng-repeat="item in $data">
              <td width="50" ng-bind-html="item.id">{{item.id}}</td>
              <td class="text-left" data-title="'nom'" filter="{ 'nom': 'text' }" sortable="'nom'">{{item.nom}}</td>
              <td class="text-left" data-title="'compositor'" filter="{ 'compositor': 'text' }" sortable="'compositor'">{{item.compositor}}</td>
              <td class="text-left" data-title="'etiquetes'" filter="{ 'etiquetes': 'text' }" sortable="'etiquetes'">{{item.etiquetes}}</td>
              <td class="text-left" data-title="'agrupacio'" filter="{ 'agrupacio': 'text' }" sortable="'agrupacio'">{{item.agrupacio}}</td>
              <td class="text-right" data-title="'part'" filter="{ 'partitura': 'text' }" ><a ng-hide="item.partitura==''" target="_blank" href="{{item.partitura}}"><i class="material-icons f-left">queue_music </i></a></td>
              <td class="text-left" data-title="'accions'" style="width:150px;">
                <div class="icons">
                  <a href="#/obra/detall/?id={{item.id}}"><div class="icon-holder" style="float:left;"><i class="material-icons f-left">remove_red_eye</i></div></a>
                  <a href="#/obra/editar/?id={{item.id}}"><div class="icon-holder" style="float:left;"><i class="material-icons f-left">mode_edit</i></div></a>
                  <a ng-click="showConfirm($event, item.id)"><div class="icon-holder" style="float:left;"><i class="material-icons f-left">delete</i></div></a>
                </div>
              </td>
            </tr>
          </table>

          <script type="text/ng-template" id="custom/pager">
            <div ng-if="params.data.length" class="ml-data-table-pager p-10">
              <div ng-if="params.settings().counts.length" class="f-right">
                <button ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="mdl-button">10</button>
                <button ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="mdl-button">25</button>
                <button ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="mdl-button">50</button>
                <button ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="mdl-button">100</button>
              </div>
              <span ng-repeat="page in pages"
                  ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                  ng-switch="page.type">
                <button ng-switch-when="prev" ng-click="params.page(page.number)" class="mdl-button">&laquo;</button>
                <button ng-switch-when="first" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="page" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="more" ng-click="params.page(page.number)" class="mdl-button">&#8230;</button>
                <button ng-switch-when="last" ng-click="params.page(page.number)" class="mdl-button"><span ng-bind="page.number"></span></button>
                <button ng-switch-when="next" ng-click="params.page(page.number)" class="mdl-button">&raquo;</button>
              </span>
            </div>
          </script>

        </div>

      </div>
    </div>

  </div>

</section>