<section class="text-fields">
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
    </div>
  </div>

    <div ng-controller="EditarObra" class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Editar Obra</h2>
          </div>
          <div class="p-30" >
            <form name="formulari" ng-class="nou_item.clase" novalidate>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="nou_item.clase">
                <input ng-model="nou_item.nom" class="mdl-textfield__input" type="text" pattern="[a-z0-9A-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" id="nom" ng-required="true"/>
                <label class="mdl-textfield__label" for="nom">Nom</label>
                <span class="mdl-textfield__error">Per favor introduix un nom vàlid.</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="nou_item.clase">
                <input ng-model="nou_item.compositor" class="mdl-textfield__input" type="text" id="compositor" pattern="[a-z0-9A-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" ng-required="true"/>
                <label class="mdl-textfield__label" for="nom">Compositor</label>
                <span class="mdl-textfield__error">Per favor introduix un nom vàlid.</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="nou_item.clase">
                <input ng-model="nou_item.etiquetes" class="mdl-textfield__input" type="text" id="etiquetes" />
                <label class="mdl-textfield__label" for="nom">Etiquetes</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="nou_item.clase">
                <textarea ng-model="nou_item.descripcio" class="mdl-textfield__input" type="text" rows="2" id="descripcio" ></textarea>
                <label class="mdl-textfield__label" for="descripcio">Descripció</label>
              </div>
              <div ng-controller="SelectAgrupacio" ng-model="$parent.nou_item.agrupacio" >
                <ui-select  theme="select2" id="select_agrupacio" title="Choose a person" search-enabled="true" ng-required="true">
                  <ui-select-match placeholder="Selecciona una agrupacio">{{$parent.nou_item.agrupacio.nom}}</ui-select-match>
                  <ui-select-choices repeat="item in agrupacio | filter: $select.search">
                    <div ng-bind-html="agrupacio_select.nom | highlight: $select.search"></div>
                    <small>
                      {{item.nom}}
                    </small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="mdl-textfield mdl-js-textfield" style="margin-top: 40px;">
                <button ng-multiple="false" ngf-select ng-model="nou_item.partitura" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Pujar Partitura
                </button>
                <button type="submit" ng-disabled="formulari.$invalid" ng-click="editarParticheles()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"  style="margin-left:200px;">
                  Gestió particheles
                </button>
                <button ng-multiple="false" ngf-select ng-model="nou_item.audio" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-left:425px;">
                  Pujar Audio
                </button>
              </div>
              <div  class="m-t-20">
                <button type="submit" ng-disabled="formulari.$invalid" ng-click="add()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Guardar
                </button>
                <button ng-click="cancel()" type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  Cancelar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>  
</section>
